{% extends "base.html" %}

{% block content %}

<section class="h-100 mb-5">
  <div class="container h-100">
    <div class="row justify-content-sm-center h-100">
      <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
        <div class="text-center my-5">
          <img src="{{ url_for('static', filename='img/Pajarito-Pirate.svg') }}" alt="logo" width="100">
        </div>
        <div class="card shadow-lg">
          <div class="card-body p-5">
            <h1 class="fs-4 card-title fw-bold mb-4">Login</h1>

            {# login form #}
            <form method="POST" class="needs-validation" autocomplete="off" novalidate>
              {{ form.hidden_tag() }}
              <div class="mb-3">
                {{ form.email.label(class='mb-2 text-muted')}}
                {{ form.email(class='form-control')}}

                {% for error in form.email.errors %}
                <span style="color:red;">{{ error }}</span>
                {% endfor %}
              </div>

              <div class="mb-3">
                <div class="mb-2 w-100">
                  {{form.password.label(class='text-muted')}}
                  <a href="{{ url_for('auth.reset') }}" class="float-end">
                    Forgot Password?
                  </a>
                </div>
                {{form.password(class='form-control')}}

                {% for error in form.password.errors %}
                <span style="color:red;">{{error}}</span>
                {% endfor %}
              </div>

              <div class="d-flex align-items-center">
                <div class="form-check">
                  {{ form.remember_me(class='form-check-input') }}
                  {{form.remember_me.label(class='form-check-label')}}
                </div>

                {{form.submit(class='btn btn-success ms-auto')}}
              </div>
            </form>
          </div>
          <div class="card-footer py-3 border-0">
            <div class="text-center">
              Don't have an account? <a href="{{ url_for('auth.register') }}" class="text-dark">Create One</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="{{ url_for('static', filename='js/login.js') }}"></script>

{% endblock content %}
