{% extends "base.html" %}

{% block content %}
    
    <h1>Merge Acount</h1>
    <p>If you want to merge another account into this one, log in to that account here. That account must have password set</p>

    <form method="POST">
        {{ form.hidden_tag() }}

        {{ form.email.label }}
        {{ form.email }}
        {% for error in form.email.errors %}
            <li>{{ error }}</li>
        {% endfor %}

        {{ form.password.label }}
        {{ form.password }}
        {% for error in form.password.errors %}
            <li>{{ error }}</li>
        {% endfor %}

        {{ form.submit() }}
    </form>
    <p>Warning: all of the content of that account will be transferred to this account, and then that account will be deleted</p>
{% endblock %}