<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page not Found - FakeGregator</title>

    {{ bootstrap.load_css() }}
</head>
<body>
   {#  <div class="container mt-5">
      <div class="row">
        <div class="col text-center">
          <img src="https://http.cat/404" alt="Page not Found" class="img-fluid">
      </div>
      <a href="{{ url_for('main.index') }}">&laquo; go back</a>
  </div>
</div> #}

<div class="page-wrap d-flex flex-row align-items-center mt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 d-flex justify-content-center">
              <img src="{{ url_for('static', filename='img/Pajarito-Pirate.svg') }}" class="me-2" width="200px" height="100px">
            </div>
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">403</span>
                <div class="mb-2 lead">Access not granted.</div>
                <a href="{{ url_for('main.index') }}" class="btn btn-link">&laquo; Go back</a>
            </div>
        </div>
    </div>
</div>


{{ bootstrap.load_js() }}

</body>
</html>
