<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page not Found - FakeGregator</title>

    {{ bootstrap.load_css() }}
</head>
<body>
    <div class="page-wrap d-flex flex-row align-items-center mt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 d-flex justify-content-center">
              <img src="{{ url_for('static', filename='img/Pajarito-Pirate.svg') }}" class="me-2" width="200px" height="100px">
            </div>
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">500</span>
                <div class="mb-2 lead">Oops, Something Went Wrong!</div>
                <a href="{{ url_for('main.index') }}" class="btn btn-link">&laquo; Go back</a>
            </div>
        </div>
    </div>
</div>

{{ bootstrap.load_js() }}

</body>
</html>
