<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel - Demogregator</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='admin/css/index.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/Pajarito-Pirate.svg') }}">

    {{ moment.include_moment() }}


</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true)  %}
  {% if messages %}

  {% for category, message in messages %}
  <div class="alert alert-{{category}} alert-dismissible fade show shadow">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>
  {% endfor %}

  {% endif %}
  {% endwith %}
    {% block content %}{% endblock content %}

</body>
</html>
