<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
  <div class="container">
    <a class="navbar-brand brand" href="#">DemoGregator</a>
    <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('bookmark.bookmark_item') }}">Bookmark
          </a>
        </li>
        {% if current_user.is_administrator() %}
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{ url_for('admin.dashboard') }}">Admin</a>
        </li>
        {% endif %}
        {% endif %}
      </ul>

      <ul class="navbar-nav mb-2 mb-lg-0">
        {% if current_user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle me-3" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><img class="avatar" src="{{ current_user.avatar(25) }}" alt=""></a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{ url_for('auth.password_cofirm_email_changes') }}">Change Email</a></li>
            <li><a class="dropdown-item" href="{{ url_for('auth.password_updates') }}">Change Password</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Sign Out</a></li>
          </ul>
        </li>
        {% else %}
        <li class="nav-item">
          <a href="{{ url_for('auth.login') }}" class="nav-link">Sign In</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

<div class="nav-scroller bg-body shadow-sm">
  <nav class="nav nav-underline container" aria-label="Secondary navigation">
    <a class="nav-link active" href="{{ url_for('main.index') }}">Dashboard</a>
   <a class="nav-link" href="{{ url_for('feed.codingdojo') }}">CodingDojo</a>
   <a class="nav-link" href="{{ url_for('feed.github') }}">GitHub Blog</a>
   {#   <a class="nav-link" href="{{ url_for('feed.linuxhint') }}">LinuxHint</a> #}
   <a class="nav-link" href="{{ url_for('feed.fosslinux') }}">FOSSlinux</a>
   <a class="nav-link" href="{{ url_for('feed.itsfoss') }}">I'ts FOSS</a>
 </nav>
</div>
</div>
</nav>
