<!DOCTYPE html>
<html lang="en">
  <body>
    <h1>Dear {{ user.username }}!</h1>

    <h3>Welcome to DemoGregator</h3>

    <p>
      To confirm your account please click on the following link:
      <button>
        <a
          style="text-decoration: none"
          href="{{ url_for('auth.confirm', token=token, _external=True) }}"
          >Confirm</a
        >
      </button>
    </p>

    <p>Sincerely,</p>
    <br />

    <p>The DemoGregator Team</p>

    <p>Note: replies to this email address are not monitored.</p>
  </body>
</html>
