{% from 'bootstrap5/utils.html' import render_messages%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% if title %}
    <title>{{ title }} - DemoGregator</title>
    {% else %}
    <title>DemoGregator</title>
    {% endif %}

    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='img/Pajarito-Pirate.svg') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/offcanvas.css') }}"
    />
    {{ bootstrap.load_css() }} {{ moment.include_moment() }}

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    {% block head %} {% endblock %}
  </head>
  <body class="bg-light">
    {% include 'partials/__nav.html' %} {# alert #} {% with messages =
    get_flashed_messages(with_categories=true) %} {% if messages %} {% for
    category, message in messages %}
    <div class="alert alert-{{category}} alert-dismissible fade show shadow">
      {{message}}
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    {% endfor %} {% endif %} {% endwith %} {% block content %} {% endblock %} {%
    include 'partials/__footer.html' %}
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/offcanvas.js') }}"
    ></script>
    {{ bootstrap.load_js() }}
  </body>
</html>
