{% extends "base.html" %}

{% block content %}

<main class="container">
  <div class="my-3 p-3 bg-body rounded shadow-sm">
    <h6 class="border-bottom pb-2 mb-0">OpenSource</h6>

    <!-- content -->
    {% for item in data %}
    <div class="d-flex text-muted pt-3">
      <!-- <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff" data-darkreader-inline-fill="" style="--darkreader-inline-fill:#3d77b6;"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em" data-darkreader-inline-fill="" style="--darkreader-inline-fill:#3d77b6;">32x32</text></svg> -->
      <img src="{{ item.blog_img }}" alt="Bootstrap" width="42" height="42" class="rounded-circle border border-white bd-placeholder-img flex-shrink-0 me-2">

      <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
        <div class="d-flex justify-content-between">
          <strong class="text-gray-dark">{{ item.title }} | <b><i>{{ item.blog_title}}</i></b></strong>
          <span><strong>Posted:</strong>{{ moment(item.date).fromNow() }}</span>
        </div>
        <span class="d-block">{{ item.summary[:150] }}...</span>
        <a href="{{ item.link }}">Reading &raquo;</a>
      </div>
    </div>
    {% endfor %}

    <small class="d-block text-end mt-3">
      <a href="#">All suggestions</a>
    </small>
  </div>
</main>

{% endblock %}
